ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 1000px;
}

li {
    display: inline;
    padding: 8px 16px;
}

li:hover {
    cursor: pointer;
  }

.navlink {
    text-decoration: none;
    color: #000;
}